@import url(http://fonts.googleapis.com/css?family=Kaushan+Script|Raleway);

body {
  color: #333;
  font: 14px/1.5 Raleway, Helvetica, Arial, sans-serif;
}
.content {
  width: 800px;
  margin: 0 auto;
}
.intro {
  font-size: 18px;
}
.intro a {
  margin-right: 4px;
  font-size: 36px;
  font-family: "Kaushan Script";
}
.intro a:link,
.intro a:visited {
  color: #000;
  text-decoration: none;
}
.intro a:hover {
  color: #D91E76;
  text-decoration: underline;
}
.carousel-box {
  width: 635px;
  overflow: hidden;
  margin: 0 auto;
}
.cb-bd {
  position: relative;
  height: 250px;
  overflow: hidden;
}
.carousel-box .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 250px;
  overflow: hidden;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  transition: width 1s ease;
}
.carousel-box .cb-bd .current {
  width: 635px;
}
.carousel-box .box img {
  vertical-align: bottom;
}
.carousel-box ul {
  padding-left: 0;
  text-align: center;
}
.carousel-box li {
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}
.carousel-box li.current {
  width: 6px;
  height: 6px;
  border: 2px solid #333;
  background-color: transparent;
  cursor: default;
}
